/* variables */
@aa-blue     :  rgb(100, 100, 200);
@aa-green    :  rgb(100, 180, 100);
@aa-yellow   :  rgb(230, 215, 100);
@aa-red      :  rgb(230, 100, 100);
@aa-gray     :  rgb(100, 100, 100);
@aa-darkGray :  rgb( 60,  60,  60);

@aa-zIndex : 1001;

/* styles */

#aa-notificationContainer {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: @aa-zIndex;
}

.aa-notification {
  width: 300px;
  min-height: 40px;
  padding: 12px;
  margin: 12px;
  color: white;
  background-color: @aa-gray;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 3px @aa-gray;
  transition: 0.3s linear all;
  
  &:hover {
    transform: scale(1.06);
    box-shadow: 3px 3px 4px lighten(@aa-gray, 10%);
  }
  
  &.info {
    color: white;
    background-color: @aa-blue;
  }
  
  &.success {
    color: white;
    background-color: @aa-green;
  }
  
  &.warning {
    color: white;
    background-color: @aa-yellow;
  }
  
  &.error {
    color: white;
    background-color: @aa-red;
  }
}